footer.footer
    .container
        .footer__rows
            .footer__items
                .footer__item
                    p.footer__title О компании
                    .footer__links
                        a(href="#") Контакты
                        a(href="#") Оплата и доставка
                        a(href="#") Политика обработки персональных данных
                .footer__item
                    p.footer__title Покупателям
                    .footer__links
                        a(href="#") Каталог
                        a(href="#") Запчасти для ТО
                        a(href="#") Личный кабинет
                .footer__item
                    p.footer__title Партнерам
                    .footer__links
                        a(href="#") Сотрудничество
                        a(href="#") Личный кабинет
            .footer__logo
                a(href="/")
                    img(src=require('@images/logo.png'))
        .footer__rows
            .footer__socials
                a(href="#")
                    img(src=require("@images/vk.png"))
                a(href="#")
                    img(src=require("@images/ok.png"))
            p.footer__caption OOO «Рекар»
div.footer-copyright
    .container
        .footer-copyright__wrapper
            p © 2023. Recar.online. Все права защищены
            p Сделано в
                +icon('serenity')