header.header#header
    .container
        .header__wrapper
            .header__logo
                a(href="/")
                    img(src=require('@images/logo.png'))
            .header__block
                .header__search-block
                    label.header__search
                        +icon('search')
                        input(placeholder="Поиск")
                .only-mobile
                    a(href="#").header__button
                        +icon('SearchRoundedFilled')
                .header__info
                    a(href="#").header__button
                        +icon('BookmarkRounded')
                        span Избранное
                    a(href="#").header__button
                        +icon('ShoppingCartRounded')
                        span Корзина
                    button.header__account
                        img(src=require('@images/avatar.png'))
                        +icon('KeyboardArrowUpRounded')
