extends ../layout/simple

block content
    .new-car
        .container
            button.back-button
                +icon('back')
                | Назад
            .new-car__content
                .new-car__sections
                    .new-car__section
                        label.new-car__field.new-car__field--gray
                            span Наименование
                            input(placeholder="Мамина машина")
                        label.new-car__field.new-car__field--gray
                            span Название авто
                            input(placeholder="Марка, модель")
                        label.new-car__field.new-car__field--gray
                            span VIN номер
                            input(placeholder="123123123")
                        label.new-car__checkbox
                            .checkbox.checkbox--square
                                input(type="checkbox")
                                +icon('CheckBoxOutlineBlankRounded')
                                +icon('CheckBoxRounded')
                            span Сделать главным авто
                        .new-car__buttons
                            button.new-car__edit Редактировать
                            button.new-car__del Удалить
                    .new-car__vertical_line
                    .new-car__section.new-car__section--gap16
                        label.new-car__field.new-car__field--gray
                            span Год
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Регион
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Рулевое управление
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Тип кузова
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                    .new-car__section.new-car__section--gap16
                        label.new-car__field.new-car__field--gray
                            span Тип коробки передач
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Серия
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Модель
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field.new-car__field--gray
                            span Двигатель
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option


