extends ../layout/simple

block header
    include ../layout/header_auth

block content
    .fullpage
        form#login_form.form
            p.form__title Войти
            label.field
                input(placeholder="Почта" name="login" type="email")
            label.field.field--password
                input(placeholder="Пароль" name="password" type="password")
                span.field__password-hide
                    +icon('RedEyeRounded')
                    +icon('RemoveRedEyeRounded')
            a(href="#!").form__forgot-password Забыли пароль?
            button(type="submit").btn.btn__join Войти
            button(type="button").btn.btn__create Создать аккаунт
            .socials
                a(href="#").social.social--vk
                    +icon('socVK')
                a(href="#").social.social--ok
                    +icon('socOK')
                a(href="#").social.social--Yandex
                    +icon('socYandex')
                a(href="#").social.social--socMail
                    +icon('socMail')