extends ../layout/simple

block content
    .catalog
        .container
            .catalog__product
                img.catalog__product__img(src=require('@images/Rectangle.png'))
                .catalog__product__line
                .catalog__product__info
                    .catalog__product__info__wrapper
                        p.catalog__product__info__title Mazda, CX-9 2630035530
                        button.catalog__product__info__other Выбрать другое авто
            div.only-desktop
                button.back-button
                    +icon('back')
                    | Назад
            .layout.layout_412.catalog-layout
                .catalog-filter
                    .catalog-filter__header
                        .catalog-filter__header__tabs
                            button.button.catalog-filter__header__tab.catalog-filter__header__tab_active(data-catalog_open="groups") По группам
                            button.button.catalog-filter__header__tab(data-catalog_open="nodes") По узлам
                        .employees__search.only-desktop
                            label.form__field.form__field--img
                                .form__field__wrapper
                                    .form__field--img_left
                                        +icon("SearchRounded")
                                    input(placeholder="Поиск по названию детали")
                    .catalog-filter__content.catalog-filter__content_active(data-catalog_content="groups")
                        .catalog-filter__content__dropdown.catalog-filter__content__dropdown_open(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p Детали для ТО
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                        .catalog-filter__content__dropdown(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p Детали для ТО
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                        .catalog-filter__content__dropdown(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p Детали для ТО
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                    .catalog-filter__content(data-catalog_content="nodes")
                        .catalog-filter__content__dropdown(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p 0 Engine, emission, engine electrical
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                        .catalog-filter__content__dropdown(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p 0 Engine, emission, engine electrical
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                        .catalog-filter__content__dropdown(data-catalog_dropdown)
                            button.catalog-filter__content__dropdown__button
                                p 8 Chassis electrical, heating/air, conditioning, wipers, radio
                                +icon('KeyboardArrowDownRounded')
                            .catalog-filter__content__dropdown__select
                                a.catalog-filter__content__dropdown__select__item Фильтр масляный
                                a.catalog-filter__content__dropdown__select__item Фильтр воздушный
                                a.catalog-filter__content__dropdown__select__item Фильтр топливный
                                a.catalog-filter__content__dropdown__select__item Свечи зажигания
                                a.catalog-filter__content__dropdown__select__item Ремень клиновой
                .catalog-content.catalog-content_group.catalog-content_active(data-catalog_content_block='groups' data-catalog_content_visible)
                    a(href="##").catalog-content_group__item
                        img.catalog-content_group__item__img(src=require('@images/Rectangle.png'))
                        .catalog-content_group__item__wrapper
                            .catalog-content_group__item__title
                                p (2510) Элементы обеспечения работы двигателя
                                p Узлы систем двигателя
                            .catalog-content_group__item__table
                                .catalog-content_group__item__table__header
                                    p OEM
                                    p Наименование детали
                                .catalog-content_group__item__table__line
                                .catalog-content_group__item__table__content(data-catalog_table_content)
                                    +loop(12)
                                        .catalog-content_group__item__table__content__item
                                            p S123614021CA
                                            p Датчик температуры и давления во впускном коллекторе (TMAP)
                                button.catalog-content_group__item__table__more(data-catalog_table_more)
                                    p Остальные детали узла
                                    +icon('KeyboardArrowDownRounded')
                    a(href="##").catalog-content_group__item
                        img.catalog-content_group__item__img(src=require('@images/Rectangle.png'))
                        .catalog-content_group__item__wrapper
                            .catalog-content_group__item__title
                                p (2510) Элементы обеспечения работы двигателя
                                p Узлы систем двигателя
                            .catalog-content_group__item__table
                                .catalog-content_group__item__table__header
                                    p OEM
                                    p Наименование детали
                                .catalog-content_group__item__table__line
                                .catalog-content_group__item__table__content(data-catalog_table_content)
                                    +loop(12)
                                        .catalog-content_group__item__table__content__item
                                            p S123614021CA
                                            p Датчик температуры и давления во впускном коллекторе (TMAP)
                                button.catalog-content_group__item__table__more(data-catalog_table_more)
                                    p Остальные детали узла
                                    +icon('KeyboardArrowDownRounded')
                .catalog-content.catalog-content_nodes(data-catalog_content_block='nodes')
                    +loop(6)
                        a(href="##").catalog-content_nodes__item
                            p.catalog-content_nodes__item__title 1. Передняя концевая часть
                            img.catalog-content_nodes__item__img(src=require('@images/Rectangle.png'))
