

extends ../layout/default

block content
    .new-car
        .container
            button.back-button
                +icon('back')
                | Назад
            .new-car__content
                h1.new-car__title Тачка 1
                .new-car__sections
                    .new-car__section
                        label.new-car__field
                            span Наименование
                            input(placeholder="Мамина машина")
                        label.new-car__field
                            span Название авто
                            input(placeholder="Марка, модель")
                        label.new-car__field
                            span VIN номер
                            input(placeholder="123123123")
                        label.new-car__checkbox
                            span Главное авто
                            .checkbox.checkbox--square 
                                input(type="checkbox")
                                +icon('CheckBoxOutlineBlankRounded')
                                +icon('CheckBoxRounded')
                        button.new-car__edit Сохранить
                        button.new-car__del(data-modal-open='remove_car') Удалить
                    .new-car__vertical_line
                    .new-car__section.new-car__section--gap16
                        label.new-car__field
                            span Год
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Регион
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Рулевое управление
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Тип кузова
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                    .new-car__section.new-car__section--gap16
                        label.new-car__field
                            span Тип коробки передач
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Серия
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Модель
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
                        label.new-car__field
                            span Двигатель
                            .select
                                input(placeholder="Не выбрано" data-select)
                                +icon('dropdown')
                                .select__options(data-select-options)
                                    ul.select__options__wrapper
                                        +loop(20)
                                            li(data-select-option).select__options__item select option
    +modal('remove_car')(class="modal_w488")
        .modal__header 
            p.modal__header__title Удаление автомобиля
        .modal__content 
            p Авто Мамина машина будет удалено, все данные будут потеряны. Это действие невозможно отменить.
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_right
                button.button.button--text_red Удалить
                button.button.button--primary Отмена 