extends ../layout/default

block content
    .employees 
        .container
            button.back-button
                +icon('back')
                | Назад
            .layout
                .layout__left
                    button.nav-bar-menu
                        .nav-bar-menu__button
                            span
                            span
                            span
                        span.nav-bar-menu__span Сотрудники
                    .nav-bar-items
                        .nav-bar
                            a(href='##').nav-bar__item Личные данные
                            a(href='##').nav-bar__item История заказов
                            a(href='##').nav-bar__item История поиска
                            a(href='##').nav-bar__item Гараж
                        .nav-bar
                            a(href='##').nav-bar__item Данные организации
                            a(href='##').nav-bar__item Управление подпиской
                            a(href='##').nav-bar__item.nav-bar__item--active Сотрудники
                            a(href='##').nav-bar__item Адреса
                        .nav-bar
                            a(href='##').nav-bar__item Панель управления
                .layout__right.employees__main
                    h1.employees__title.only-desktop Сотрудники
                    .employees__search
                        label.form__field.form__field--img
                            .form__field__wrapper
                                .form__field--img_left
                                    +icon("SearchRounded")
                                input(placeholder="Поиск по сотрудникам")
                    .employees__wrapper 
                        +loop(3)
                            .employees__item
                                .employees__item__header
                                    p.employees__item__title Имя Фамилия (Роль)
                                    button.employees__item__change(data-modal-open='change_employe') Редактировать
                                p.employees__item__mail jason.saitama@gmail.com
                                p.employees__item__info Должность, Филиал
                            .employees__line
                    .employees__new 
                        p Новый сотрудник
                        button 
                            +icon("AddRounded")


    +modal('change_employe')(class="modal_w706")
        .modal__header 
            p.modal__header__title Данные сотрудника
        .modal__content 
            .modal__content__wrapper 
                p.modal__content__title Информация о сотруднике
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="ФИО" value="Иванов Иван Иванович")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Должность" value="Менеджер")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="+7 (123) 456-78-90" value="+7 (123) 456-78-90")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="email" value="jason.saitama@gmail.com")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="jason.saitama@gmail.com" value="jason.saitama@gmail.com")
            .modal__content__line
            .modal__content__wrapper 
                p.modal__content__title Филиалы
                .employees__modal
                    +loop(2)
                        .employees__modal__office 
                            .employees__modal__office__wrapper 
                                +icon('LocationonRounded')
                                p г. Санкт-Петербург, ул. Пушкина, д. 17
                            +icon('trash')
                        .modal__content__line
                    .employees__modal__add 
                        p Добавить филиал
                        +icon('AddRounded')
                    label.employees__modal__all 
                        .checkbox.checkbox--square 
                            input(type="checkbox")
                            +icon('CheckBoxOutlineBlankRounded')
                            +icon('CheckBoxRounded')
                        p Выбрать все
            .modal__content__line
            .modal__content__wrapper
                p.modal__content__title Доступ
                label.form__field
                    .select
                        input(placeholder="Выберите доступ" data-select value="Полный доступ")
                        +icon('dropdown')
                        .select__options(data-select-options)
                            ul.select__options__wrapper
                                li(data-select-option).select__options__item Полный доступ
                                li(data-select-option).select__options__item Ограниченый доступ
                label.form__field.form__field--change
                    .form__field__wrapper
                        input(placeholder="ФИО" readonly value="Пушкин Александр Сергеевич")
                        .form__field--change__button
                            +icon("ReplayRounded")
                
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_center
                button.button.button--primary Сохранить
                button.button.button--text_red(data-modal-open='remove_employe' data-modal-close='change_employe') Удалить сотрудника

    +modal('remove_employe')(class="modal_w488")
        .modal__header 
            p.modal__header__title Удаление сотрудника
        .modal__content 
            p Сотрудник Имя Фамилия будет удален, все данные будут потеряны. Это действие невозможно отменить.
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_right
                button.button.button--text_red Удалить
                button.button.button--primary Отмена 