extends ../layout/default

block content

        .cards
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
            .card
                a(href='#').card__title Mazda B-Series
                a(href='#').card__edit Изменить
