extends ../layout/default

block content
    form.search
        label
            span
                +icon('SearchRounded')
            input(type=text placeholder="Поиск")
    div.cards
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
            label.card__main__auto
            +icon ('main__selector')
            a(href='#').card__main Главный
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
        div.card
            a(href='#').card__title Mazda B-Series
            a(href='#').card__edit Изменить
