extends ../layout/default

block content
    .garage
        .container
            button.back-button
                +icon('back')
                | Назад
            .orders__content
                .orders__header
                    h1.orders__title Мой гараж
                    .orders__filter-block
                        label.orders__search
                            +icon('search')
                            input(placeholder="Поиск по названию или артикулу")
                        .orders__filters
                            button.orders__filter.orders__filter--blue
                                | A-Z
                            button.orders__filter.orders__filter--blue
                                | По дате добавления
                .cards
                    .card
                        .card__header
                            .card__title Mazda B-Series
                            .card__tag
                                span
                                | Главный
                        a(href='#').card__edit Изменить
                    +loop(29)
                        .card
                            .card__header
                                .card__title Mazda B-Series
                            a(href='#').card__edit Изменить
