extends ../layout/default

block content
    .home
        .container
            a(href="/404.html") 404 (adaptive)
            br
            a(href="/add_car.html") add_car (adaptive)
            br
            a(href="/auth.html") auth (adaptive)
            br
            a(href="/cart.html") cart (adaptive)
            br
            a(href="/catalog.html") catalog
            br
            a(href="/catalog_item.html") catalog_item
            br
            a(href="/catalog_item_select.html") catalog_item_select
            br
            a(href="/contacts.html") contacts (adaptive)
            br
            a(href="/create_order.html") create_order (adaptive)
            br
            a(href="/edit_car.html") edit_car (adaptive)
            br
            a(href="/employees.html") employees (adaptive)
            br
            a(href="/favourites.html") favourites (adaptive)
            br
            a(href="/garage.html") garage
            br
            a(href="/main.html") main
            br
            a(href="/offices.html") offices (adaptive)
            br
            a(href="/orders.html") orders
            br
            a(href="/organization.html") organization
            br
            a(href="/payment_delivery.html") payment_delivery (adaptive)
            br
            a(href="/policy.html") policy (adaptive)
            br
            a(href="/product.html") product (adaptive)
            br
            a(href="/profile.html") profile
            br
            a(href="/registration.html") registration (adaptive)
            br
            a(href="/reset_password.html") reset_password (adaptive)
            br
            a(href="/reset_password_code.html") reset_password_code (adaptive)
            br
            a(href="/reset_password_confirm.html") reset_password_confirm (adaptive)
            br
            a(href="/search_history.html") search_history (adaptive)
            br
            a(href="/subscription.html") subscription (adaptive)