extends ../layout/default

block content
    .orders
        .container
            button.back-button
                +icon('back')
                | Назад
            .orders__content
                .orders__header
                    h1.orders__title История заказов
                    .orders__filter-block
                        label.orders__search
                            +icon('search')
                            input(placeholder="Поиск по названию или артикулу")
                        .orders__filters
                            button.orders__filter
                                | По дате добавления
                                +icon('arrow-down')
                            button.orders__filter
                                | По статусу
                                +icon('arrow-down')
                .orders__main
                    .orders__table
                        .orders__row
                            .orders__column
                                p Дата
                            .orders__column
                                p Статус
                            .orders__column
                                p Номер
                            .orders__column
                                p Продавец
                            .orders__column
                                p Сумма
                            .orders__column
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--yellow
                                | Оформлен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--yellow
                                | Оформлен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--yellow
                                | Оформлен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--red
                                | Отменен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--green
                                | Завершен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--yellow
                                | Оформлен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
                        .orders__row
                            .orders__column.orders__column--end
                                p 20.12.2022
                            .orders__column
                                span.orders__circle.orders__circle--yellow
                                | Оформлен
                            .orders__column
                                p 892189-098
                            .orders__column
                                p ООО “Маркетплейс”
                            .orders__column
                                p.text-black 30 000,00 ₽
                            .orders__column
                                button.orders__button Подробнее
