extends ../layout/default

block content
    .policy-page 
        button.back-button
            +icon('back')
            | Назад
        .container
            .policy-page__wrapper
                h1 Политика в отношении обработки персональных данных
                h2 1. Общие положения
                p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Рекар (далее — Оператор).
                p 1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                p 1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://recar.online.
                h2 3. Основные права и обязанности Оператора
                .policy-page__list
                    p 3.1. Оператор имеет право:
                    ul 
                        li получать от субъекта персональных данных достоверные информацию и/ или документы, содержащие персональные данные;
                        li в случае отзыва субъектом персональных данных согласия на обработку персональных данных, а также, направления обращения с требованием о прекращении обработки персональных данных, Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
                        li самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.
                h2 6. Цели обработки персональных данных
                .policy-page__block 
                    h3 Цель обработки
                    p информирование Пользователя посредством отправки электронных писем.
                .policy-page__list
                    h3 Персональные данные
                    ul 
                        li фамилия, имя, отчество;
                        li электронный адрес;
                        li номера телефонов;
                        li год, месяц, дата и место рождения;
                        li фотографии;
                        li реквизиты документа, удостоверяющего личность;
                        li адрес фактического места проживания и регистрации по месту жительства и/или по месту пребывания.
