extends ../layout/default

block content
    .profile
        .container
            button.back-button
                +icon('back')
                | Назад
            .layout
                .layout__left
                    button.nav-bar-menu
                        .nav-bar-menu__button
                            span
                            span
                            span
                        span.nav-bar-menu__span Личные данные
                    .nav-bar-items
                        .nav-bar
                            a(href='#').nav-bar__item.nav-bar__item--active Личные данные
                            a(href='#').nav-bar__item История заказов
                            a(href='#').nav-bar__item История поиска
                            a(href='#').nav-bar__item Гараж
                .layout__right
                    h1.title.only-desktop Личные данные
                    .profile__section
                        .profile__name
                            p Пушкин Александр Сергеевич
                            a(href="##")(data-modal-open='change_account') Редактировать
                        .profile__rows
                            label.field-label
                                span Почта
                                .field-label__input
                                    input(type="input" placeholder="jason.saitama@gmail.com" readonly)
                                    +icon("InfoRounded")
                            p.profile__caption
                                | Если вы хотите изменить e-mail, напишите
                                br
                                | <a href="#">в службу поддержки</a>
                        .profile__rows
                            form
                                label.field-label
                                    span.text-black Телефон
                                    .field-label__input
                                        input(type="text" placeholder="+7 (123) 456-78-90" value="+7 (123) 456-78-90")
                                        button(type="submit").button.button--text.button--text-min Сменить
                                    p.field-label__message.field-label__message--success Номер сохранен
                            form
                                label.field-label
                                    span.text-black Пароль
                                    .field-label__input
                                        input(type="password" value="11111111111" readonly)
                                        button(type="button" data-modal-open='change_password').button.button--text.button--text-min Сменить
                                    p.field-label__message.field-label__message--error Ошибка
                    .profile-addresses
                        p.profile-addresses__title Адреса доставки
                        .profile-addresses__items
                            label.profile-addresses-item
                                input(type="radio" name="addresses" value="0" checked)
                                .profile-addresses-item__content
                                    +icon('LocationonRounded')
                                    p.profile-addresses-item__title г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                                    +icon('RadioButtonCheckedRounded')
                                    +icon('RadioButtonUncheckedRounded')
                                button(data-modal-open='change_adress').profile-addresses-item__link Редактировать
                            label.profile-addresses-item
                                input(type="radio" name="addresses" value="1")
                                .profile-addresses-item__content
                                    +icon('LocationonRounded')
                                    p.profile-addresses-item__title г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                                    +icon('RadioButtonCheckedRounded')
                                    +icon('RadioButtonUncheckedRounded')
                                button.profile-addresses-item__link Редактировать
                            a(href="#").profile-addresses__add Новый адрес
                                +icon("AddRounded")
                    .profile-my_recipients
                        p.profile-addresses__title Мои получатели
                        .profile-my_recipients__items
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                button(href="#").profile-addresses-item__link(data-modal-open='change_recipient') Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                button(href="#").profile-addresses-item__link Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                button(href="#").profile-addresses-item__link Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                button(href="#").profile-addresses-item__link Редактировать
                            button(href="#").profile-addresses__add.profile-my_recipients__add Новый получатель
                                +icon("AddRounded")
                    .profile-subscriptions
                        p.profile-subscriptions__title Управление подписками
                        p.profile-subscriptions__subtitle Подпишитесь на нашу рассылку, чтобы первыми получать самые выгодные предложения!
                        .profile-subscriptions__block
                            .profile-subscriptions__block__wrapper 
                                input(type="email" placeholder="Ваш email").profile-subscriptions__field
                                button(type="submit").profile-subscriptions__button Подписаться
                            p.profile-subscriptions__block__rules
                                | Нажимая на кнопку, вы соглашаетесь
                                br
                                | <a href="#">с Политикой обработки персональных данных</a>
                        p.profile-subscriptions__caption Также подпишитесь на нас в соцсетях!
                        div.profile-subscriptions__socails
                            a(href="#")
                                img(src=require("@images/ok.png"))
                                | Подписаться на OK
                            a(href="#")
                                img(src=require("@images/vk.png"))
                                | Подписаться на VK
                    .profile-delete
                        button(href="#")(data-modal-open='remove_account') Удалить аккаунт
    
    +modal('remove_account')(class="modal_w488")
        .modal__header 
            p.modal__header__title Удаление аккаунта
        .modal__content 
            p Ваш аккаунт будет удален, все данные будут потеряны. Это действие невозможно отменить.
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_right
                button.button.button--text_red Удалить
                button.button.button--primary Отмена

    +modal('change_account')(class="modal_w488")
        .modal__header 
            p.modal__header__title Измение личных данных
        .modal__content 
            .modal__content__wrapper 
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Фамилия" value="Фамилия")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Имя" value="Имя")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Отчество" value="Отчество")
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_center
                button.button.button--primary Сохранить 
    
    +modal('change_recipient')(class="modal_w488")
        .modal__header 
            p.modal__header__title Данные получателя
        .modal__content 
            .modal__content__wrapper 
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Фамилия" value="Фамилия")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Имя" value="Имя")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="Отчество" value="Отчество")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="+7 (123) 456-78-90" value="+7 (123) 456-78-90")
                .field-label
                    .field-label__input 
                        input(type="text" placeholder="jason.saitama@gmail.com" value="jason.saitama@gmail.com")
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_center
                button.button.button--primary Сохранить
                button.button.button--text_red(data-modal-open='remove_recipient' data-modal-close='change_recipient') Удалить получателя
    
    +modal('remove_recipient')(class="modal_w488")
        .modal__header 
            p.modal__header__title Удаление получателя
        .modal__content 
            p Получатель Фамилия Имя Отчество будет удален, все данные будут потеряны. Это действие невозможно отменить.
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_right
                button.button.button--text_red Удалить
                button.button.button--primary Отмена

    +modal('change_password')(class="modal_w488")
        .modal__header 
            p.modal__header__title Смена пароля
        .modal__content 
            .modal__content__wrapper 
                label.field.field--password.field_default
                    input(placeholder="Старый пароль" name="old_password" type="password")
                    span.field__password-hide
                        +icon('RemoveRedEyeRounded')
                label.field.field--password.field_default
                    input(placeholder="Новый пароль" name="new_password" type="password")
                    span.field__password-hide
                        +icon('RemoveRedEyeRounded')
                label.field.field--password.field_default
                    input(placeholder="Повторите новый пароль" name="repeat_password" type="password")
                    span.field__password-hide
                        +icon('RemoveRedEyeRounded')
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_center
                button.button.button--secondary Сохранить

    +modal('change_adress')(class="modal_w488")
        .modal__header 
            p.modal__header__title Новый адрес доставки
        .modal__content 
            label.field.field_default
                +icon('LocationonRounded')
                input(type="text" placeholder="Адрес")
        .modal__footer 
            .modal__footer__wrapper.modal__footer__wrapper_center
                button.button.button--secondary Сохранить






