extends ../layout/default

block content
    .profile
        .container
            button.back-button
                +icon('back')
                | Назад
            .layout
                .layout__left
                    .nav-bar
                        a(href='#').nav-bar__item.nav-bar__item--active Личные данные
                        a(href='#').nav-bar__item История заказов
                        a(href='#').nav-bar__item История поиска
                        a(href='#').nav-bar__item Гараж
                .layout__right
                    h1.title Личные данные
                    .profile__section
                        .profile__name
                            p Пушкин Александр Сергеевич
                            a(href="#") Редактировать
                        .profile__rows
                            label.field-label
                                span Почта
                                .field-label__input
                                    input(type="input" placeholder="jason.saitama@gmail.com" readonly)
                                    +icon("InfoRounded")
                            p.profile__caption Eсли вы хотите изменить e-mail, напишите
                                br
                                | в службу поддержки
                        .profile__rows
                            form
                                label.field-label
                                    span.text-black Телефон
                                    .field-label__input
                                        input(type="text" placeholder="+7 (123) 456-78-90")
                                        button(type="submit").button.button--text.button--text-min Сменить
                                    p.field-label__message.field-label__message--success Номер сохранен
                            form
                                label.field-label
                                    span.text-black Пароль
                                    .field-label__input
                                        input(type="password")
                                        button(type="submit").button.button--text.button--text-min Сменить
                                    p.field-label__message.field-label__message--error Ошибка
                    .profile-addresses
                        p.profile-addresses__title Адреса доставки
                        .profile-addresses__items
                            label.profile-addresses-item
                                input(type="radio" name="addresses" value="0" checked)
                                .profile-addresses-item__content
                                    +icon('LocationonRounded')
                                    p.profile-addresses-item__title г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                                    +icon('RadioButtonCheckedRounded')
                                    +icon('RadioButtonUncheckedRounded')
                                a(href="#").profile-addresses-item__link Редактировать
                            label.profile-addresses-item
                                input(type="radio" name="addresses" value="1")
                                .profile-addresses-item__content
                                    +icon('LocationonRounded')
                                    p.profile-addresses-item__title г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                                    +icon('RadioButtonCheckedRounded')
                                    +icon('RadioButtonUncheckedRounded')
                                a(href="#").profile-addresses-item__link Редактировать
                            a(href="#").profile-addresses__add Новый адрес
                                +icon("AddRounded")
                    .profile-my_recipients
                        p.profile-addresses__title Мои получатели
                        .profile-my_recipients__items
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                a(href="#").profile-addresses-item__link Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                a(href="#").profile-addresses-item__link Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                a(href="#").profile-addresses-item__link Редактировать
                            .profile-my_recipients__item
                                .profile-my_recipients__content
                                    p.profile-my_recipients__name Пушкин Александр Сергеевич
                                    a(href="tel:+7 (123) 456-78-90").profile-my_recipients__tel +7 (123) 456-78-90
                                    a(href="mailto:jason.saitama@gmail.com").profile-my_recipients__mail jason.saitama@gmail.com
                                a(href="#").profile-addresses-item__link Редактировать
                            a(href="#").profile-addresses__add.profile-my_recipients__add Новый получатель
                                +icon("AddRounded")
                    .profile-subscriptions
                        p.profile-subscriptions__title Управление подписками
                        p.profile-subscriptions__subtitle Подпишитесь на нашу рассылку, чтобы первыми получать самые выгодные предложения!
                        input(type="email" placeholder="Ваш email").profile-subscriptions__field
                        button(type="submit").profile-subscriptions__button Сохранить подписку
                        p.profile-subscriptions__caption Также подпишитесь на нас в соцсетях!
                        div.profile-subscriptions__socails
                            a(href="#")
                                img(src=require("@images/ok.png"))
                                | Подписаться на OK
                            a(href="#")
                                img(src=require("@images/vk.png"))
                                | Подписаться на VK
                    .profile-delete
                        a(href="#") Удалить аккаунт






