extends ../layout/default

block content
    .profile
        button.back-button
            +icon('back')
            | Назад
        .nav-bar
            a(href='#').nav-bar__item Личные данные
            a(href='#').nav-bar__item История заказов
            a(href='#').nav-bar__item История поиска
            a(href='#').nav-bar__item Гараж
        .profile__container
            h1.profile__title Личные данные
            .profile__box
                h2.profile__paragraph Пушкин Александр Сергеевич
                a(href='#').profile__edit Редактировать
            .profile__block
                label.profile__field
                    span Почта
                    input(placeholder="jason.saitama@gmail.com")
                    +icon('InfoRounded')
                span.profile__clue Eсли вы хотите изменить e-mail, напишите в службу поддержки
            .profile__block
                label.profile__field
                    span Телефон
                    input(placeholder="+7 (123) 456-78-90")
                label.profile__field
                    span Пароль
                    input(placeholder="•••••••••••")
        .profile__container
            h2.profile__paragraph Адреса доставки
            .profile__objects
                .profile__object
                    +icon('LocationonRounded')
                    span.object__place г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                    a(href='#').profile__edit Редактировать
                .profile__object
                    +icon('LocationonRounded')
                    span.object__place г. Санкт-Петербург, ул. Пушкина, д. Колотушкина, кв.17
                    a(href='#').profile__edit Редактировать
                .profile__new-object
                    span.new-object__place Новый адрес
                    +icon('AddRounded')
        .profile__container
            h2.profile__paragraph Мои получатели
            .profile__components
                .profile__component
                    .profile__data
                        h3.profile__title Пушкин Александр Сергеевич
                        h3.profile__content +7 (123) 456-78-90
                        h3.profile__huita jason.saitama@gmail.com
                    a(href='#').profile__edit Редактировать
                .profile__component
                    .profile__data
                        h3.profile__title Пушкин Александр Сергеевич
                        h3.profile__content +7 (123) 456-78-90
                        h3.profile__huita jason.saitama@gmail.com
                    a(href='#').profile__edit Редактировать
                .profile__component
                    .profile__data
                        h3.profile__title Пушкин Александр Сергеевич
                        h3.profile__content +7 (123) 456-78-90
                        h3.profile__huita jason.saitama@gmail.com
                    a(href='#').profile__edit Редактировать
                .profile__new-component
                        h3.profile__new-content Новый получатель
                        label.profile__icon
                            +icon('search')
        .profile__footer
            h2.profile__subtitle Управление подписками
            p.profile__text Подпишитесь на нашу рассылку, чтобы первыми получать самые выгодные предложения!
            h2.profile__subtitle Подписка оформлена!
            button.profile__button-footer Отписаться
            p.profile__text Также подпишитесь на нас в соцсетях!
            .profile__buttons-footer
                button.profile__button-footer
                    label.profile__icon
                        +icon('socOK')
                    p.profile__button-content Подписаться на OK
                button.profile__button-footer
                    label.profile__icon
                        +icon('socVK')
                    p.profile__button-content Подписаться на VK
            .profile__pact
                p.profile__text Вы соглашаетесь на отправку данных
                input(type='checkbox' checked)
        button.profile__deleted
            p.profile__delete Удалить аккаунт





