extends ../layout/simple

block header
    include ../layout/header_auth

block content
    .fullpage.fullpage--reset-password
        form.form
            p.form__title Восстановление пароля
            label.field
                input(placeholder="Почта" name="login" type="input")
            button(type="submit").btn.btn__join Отправить новый пароль
            button(type="button").btn.btn__create Назад