extends ../layout/simple

block header
    include ../layout/header_auth

block content
    .fullpage.fullpage--reset-password
        form.form
            p.form__title Введите код
            label.field.field__code_confirm
                input(placeholder="Код, полученный по почте" name="login" type="input")
            a(href="#!").form__code_confirm Отправить повторно (0:39)
            button(type="submit").btn.btn__join Подтвердить
            button(type="button").btn.btn__create Назад