extends ../layout/simple

block header
    include ../layout/header_registration

block content
    .fullpage.fullpage--reset-password
        form.form
            p.form__title Введите новый пароль
            label.field
                input(placeholder="Пароль" name="login" type="input")
            label.field
                input(placeholder="Пароль" name="password" type="password")
                span.field__password-hide
                    +icon('RemoveRedEyeRounded')
            button(type="submit").btn.btn__join Подтвердить
            button(type="button").btn.btn__create Уже есть аккаунт