extends ../layout/default

block content
    .fullpage
        form.form
            p.form__title Восстановление пароля
            label.field
                input(placeholder="Почта" name="login" type="input")
            button(type="submit").btn.btn__join Отправить новый пароль
            button(type="button").btn.btn__create Назад