.catalog-item{
    &__product{
        display: flex;
        gap: 24px;
        border-radius: 16px;
        padding: 26px 29px;
        background: #fff;
        box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);
        margin-bottom: 24px;
        &__img{
            width: 237px;
            height: 140px;
            border-radius: 12px;
        }
        &__line{
            width: 1px;
            height: auto;
            background: #E2EEF6;
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
            &__title{
                font-size: 22px;
                font-weight: 600;
                color: #000000;
            }
            &__other, &__subtitle{
                margin-top: 12px;
                font-size: 14px;
                font-weight: 400;
                font-family: "Inter";
            }
            &__subtitle{
                color: #949DA5;
            }
            &__other{
                color: #139BE8;
            }
            &__footer{
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                &__wrapper{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                &__map{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #139BE8;
                    font-size: 16px;
                    font-weight: 600;
                    svg{
                        width: 24px;
                        height: 24px;
                        path{
                            fill: #139BE8;
                        }
                    }
                }
                &__analogues{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #FF735D;
                    svg{
                        width: 24px;
                        height: 24px;
                    }
                }
                &__number{
                    color: #949DA5;
                }
            }
        }
    }
    &-filter{
        display: flex;
        flex-direction: column;
        gap: 16px;
        &__header{
            display: flex;
            flex-direction: column;
            gap: 8px;
            background: white; 
            box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.07); 
            border-radius: 12px;
            height: fit-content;
            padding: 16px;
            &__tabs{
                padding: 10px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }
            &__tab{
                font-size: 16px;
                font-weight: 600;
                color: #949DA5;
                border-bottom: 2px solid;
                border-color: rgba(255, 255, 255, 0);
                transition: 0.3s color, 0.3s border-color;
                &_active{
                    color: black;
                    border-color: #139BE8;
                }
            }
        }
        &__content{
            display: none;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            background: white; 
            box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.07); 
            border-radius: 12px;
            height: fit-content;
            padding: 16px;
            &_active{
                display: flex;
            }
            &__header{
                display: grid;
                grid-template-columns: 16px 90px 1fr;
                font-family: "Inter";
                color: #949DA5;
                gap: 12px;
                height: 33px;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &__line{
                width: 100%;
                height: 1px;
                background: #E2EEF6;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &__item{
                height: 33px;
                display: grid;
                grid-template-columns: 16px 90px 1fr 16px;
                gap: 12px;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px; 
                    font-family: "Inter"; 
                    font-weight: 400;
                }
                &__index{
                    color: #949DA5;
                }
                &__oem{
                    color: #139BE8;
                }
                &__name{
                    color: #000000;
                }
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &-layout{
        gap: 24px !important;
    }
    &-content{
        display: grid;
        grid-template-rows: 60px 424px;
        justify-content: center;
        padding: 24px;
        background: white; 
        box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.07); 
        border-radius: 12px;
        position: relative;
        gap: 24px;
        &__title{
            color: #000000;
            font-weight: 600;
            text-align: center;
            font-size: 20px;
        }
        &__img{
            max-width: 315px;
            margin: 0 auto;
        }
        &__zoom{
            position: absolute;
            right: 20px;
            bottom: 20px;
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }
}