
.catalog-select {
    justify-content: flex-end;
    padding-bottom: 50px;
    
    &__product {
        display: flex;
        gap: 24px;
        border-radius: 16px;
        padding: 26px 29px;
        background: #fff;
        box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);
        margin-bottom: 24px;
        
        @include media-down(md) {
            padding: 24px;
        }
        
        @include media-down(sm) {
            gap: 16px;
        }
        
        @include media-down(sm) {
            padding: 16px;
            padding-bottom: 78px + 16px + 16px;
            position: relative;
        }
        
        &__img {
            width: 100%;
            height: 140px;
            border-radius: 12px;
            max-width: 237px;
            object-fit: cover;
            
            @include media-down(sm) {
                max-width: 95px;
                height: 56px;
            }
        }
        
        &__line {
            width: 1px;
            height: auto;
            background: #E2EEF6;
            
            @include media-down(md) {
                display: none;
            }
        }
        
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
            position: relative;
            
            @include media-down(sm) {
                position: static;
            }
            
            &__group {
                &__buttons {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                    button {
                        display: block;
                        
                        span {
                            margin-left: 0.2em;
                            
                            @include media-down(md) {
                                display: none;
                            }
                        }
                    }
                    
                    @include media-down(sm) {
                        width: 100%;
                    }
                }
            }
            
            &__title {
                font-size: 22px;
                font-weight: 600;
                color: #000000;
                
                @include media-down(md) {
                    font-size: 18px;
                }
            }
            
            &__other, &__subtitle {
                margin-top: 12px;
                font-size: 14px;
                font-weight: 400;
                font-family: Inter, sans-serif;
                
                @include media-down(sm) {
                    margin-top: 4px;
                }
            }
            
            &__subtitle {
                color: #949DA5;
            }
            
            &__other {
                color: #139BE8;
            }
            
            &__footer {
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                
                @include media-down(sm) {
                    position: absolute;
                    bottom: 16px;
                    left: 16px;
                    width: calc(100% - 32px);
                }
                
                &__wrapper {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    
                    @include media-down(sm) {
                        flex-direction: column;
                        width: 100%;
                        
                        button {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                
                &__map {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #139BE8;
                    font-size: 16px;
                    font-weight: 600;
                    position: absolute;
                    height: 35px;
                    right: 0;
                    bottom: 0;
                    
                    @include media-down(md) {
                        bottom: auto;
                        top: 0;
                        background: #139BE8;
                        width: 32px;
                        height: 32px;
                        gap: 0;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        
                        span {
                            display: none;
                        }
                    }
                    
                    @include media-down(sm) {
                        position: static;
                    }
                    
                    svg {
                        width: 24px;
                        height: 24px;
                        
                        @include media-down(md) {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                
                &__analogues {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #FF735D;
                    
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
                
                &__number {
                    color: #949DA5;
                }
            }
        }
    }
    
    &-filter {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 16px;
        background: white;
        box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        height: fit-content;
        
        @include media-down(md) {
            display: none;
        }
        
        &__content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            
            &__dropdown {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                
                &_open {
                    .catalog-select-filter__content__dropdown {
                        &__select {
                            display: flex;
                        }
                        
                        &__button {
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                
                &__button {
                    height: 36px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    justify-content: space-between;
                    width: 100%;
                    
                    p {
                        color: #139BE8;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                    }
                    
                    svg {
                        width: 24px;
                        height: 24px;
                        overflow: visible;
                    }
                }
                
                &__select {
                    display: none;
                    flex-direction: column;
                    gap: 12px;
                    
                    &__item {
                        color: #000000;
                        font-size: 16px;
                        font-family: "Inter";
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        &_rating {
                            cursor: pointer;
                            padding: 8px;
                            border-radius: 8px;
                            
                            &_active {
                                background: rgba(0, 185, 227, 0.05);
                            }
                            
                            .icon--StarRoundedActive {
                                display: none;
                            }
                            
                            input {
                                display: none;
                                
                                &:checked ~ .catalog-select-filter__content__dropdown__select__item_rating__wrapper {
                                    .icon--StarRoundedActive {
                                        display: block !important;
                                    }
                                }
                                
                                &:checked ~ .catalog-select-filter__content__dropdown__select__item_rating__wrapper {
                                    .icon--StarRoundedGray {
                                        display: none !important;
                                    }
                                }
                            }
                            
                            &__wrapper {
                                display: flex;
                                align-items: center;
                                position: relative;
                            }
                            
                            &__star {
                                display: flex;
                                position: relative;
                                
                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
        }
    }
    
    &-layout {
        gap: 24px !important;
    }
    
    &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: fit-content;
        
        @include media-down(md) {
           gap: 16px;
        }
        
        &__item {
            display: flex;
            gap: 24px;
            padding: 16px;
            background: white;
            box-shadow: 0 4px 36px rgba(0, 0, 0, 0.07);
            border-radius: 12px;
            height: fit-content;
            
            @include media-down(md) {
                gap: 16px;
            }
            
            @include media-down(sm) {
                flex-direction: column;
            }
            
            &__img {
                max-width: 178px;
                max-height: 240px;
                border-radius: 12px;
                object-fit: cover;
                
                @include media-down(md) {
                    width: 100%;
                    max-width: 208px;
                    max-height: 100%;
                }
                
                @include media-down(sm) {
                    max-width: 100%;
                    max-height: 100%;
                    aspect-ratio: 1/1;
                }
            }
            
            &__wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;
                
                @include media-down(md) {
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;
                    padding-bottom: 35px + 8px;
                }
                
                @include media-down(sm) {
                    padding-bottom: 0;
                }
            }
            
            &__block {
                &_center {
                    display: flex;
                    flex-direction: column;
                    gap: 18.5px;
                    
                    @include media-down(md) {
                        gap: 12px;
                    }
                }
                
                &_rigth {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    @include media-down(md) {
                        margin-top: 16px;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        gap: 16px;
                        align-items: center;
                    }
                    
                    @include media-down(sm) {
                        height: 32px;
                    }
                }
            }
            
            &__header {
                &__title {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    
                    @include media-down(md) {
                        flex-wrap: wrap;
                        gap: 0px 8px;
                    }
                    
                    p {
                        &:first-child {
                            font-weight: 600;
                            color: #000000;
                        }
                        
                        &:last-child {
                            font-family: Inter, sans-serif;
                            color: #139BE8;
                            
                            @include media-down(md) {
                                font-size: 14px;
                            }
                        }
                    }
                }
                
                &__subtitle {
                    font-family: Inter, sans-serif;
                    color: #949DA5;
                    
                    @include media-down(md) {
                        font-size: 14px;
                    }
                }
            }
            
            &__main {
                &__header, &__info {
                    display: flex;
                    align-items: center;
                    gap: 17px;
                    
                    @include media-down(md) {
                        gap: 16px;
                    }
                }
                
                &__info {
                    height: 35px;
                    margin-top: 8px;
                }
            }
            
            &__brand {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #139BE8;
                font-family: Inter, sans-serif;
                
                @include media-down(md) {
                    font-size: 14px;
                }
                
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            
            &__review {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #000000;
                font-family: Inter, sans-serif;
                
                @include media-down(md) {
                    font-size: 14px;
                }
                
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            
            &__address {
                color: #000000;
                font-family: "Inter";
                margin-top: 12px;
                
                @include media-down(md) {
                    font-size: 14px;
                }
            }
            
            &__metro {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #000000;
                font-family: "Inter";
                
                @include media-down(md) {
                    font-size: 14px;
                }
                
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            
            &__phone {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #139BE8;
                font-family: "Inter";
                
                @include media-down(md) {
                    font-size: 14px;
                }
                
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            
            &__delivery {
                display: flex;
                flex-direction: column;
                gap: 8px;
                
                &__wrapper {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #000000;
                    font-family: "Inter";
                    
                    @include media-down(md) {
                        font-size: 14px;
                    }
                }
                
                &__description {
                    font-size: 12px;
                    color: #949DA5;
                    font-family: Inter, sans-serif;
                    
                    @include media-down(sm) {
                        display: none;
                    }
                }
            }
            
            &__status {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #000000;
                font-family: Inter, sans-serif;
                justify-content: flex-end;
                
                @include media-down(md) {
                    font-size: 14px;
                }
            }
            
            &__price {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: #000000;
                font-weight: 600;
                align-items: flex-end;
                
                &__button {
                    @include media-down(md) {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
                    
                    @include media-down(sm) {
                        left: auto;
                        right: 0;
                        
                        width: 32px;
                        height: 32px;
                        padding: 0;
                        
                        p {
                            display: none;
                        }
                    }
                    
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
