.create-order {
    padding-bottom: 50px;
    
    h1 {
        margin-bottom: 24px;
        font-size: 22px;
        
        @include media-down(md) {
            font-size: 18px;
        }
        
        @include media-down(sm) {
            margin-bottom: 16px;
        }
    }
    
    .cart-content__block {
        @include media-down(md) {
            padding-bottom: 0 !important;
        }
    }
    
    .cart-right__wrapper {
        @include media-only(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .field-label:first-child {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}