.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    
    @include media-down(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    
    @include media-down(sm) {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.card {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid #E2EEF6;
    background: #FFF;
    transition: 0.5s border-color;
    
    @include media-down(sm) {
        padding: 12px;
    }
    
    &:hover {
        border-color: #139BE8;
    }
    
    &__tag {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        color: #000;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.16px;
        
        span {
            width: 14px;
            height: 14px;
            background-color: var(--secondary-green, #49B870);
            display: table;
            border-radius: 50%;
        }
    }
    
    &__header {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        justify-content: space-between;
    }
    
    &__title {
        color: #201B45;
        font-size: 16px;
        font-weight: 600;
    }
    
    &__edit {
        color: var(--accent-1, #139BE8);
        font-family: Inter, sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
    }
}

.garage {
    padding-bottom: 50px;
    
    &__wrapper {
        border-radius: 16px;
        border: 1px solid #EEE;
        background: #FFF;
        box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);
        padding: 26px 29px;
    }
}
