.icon {
  display: inline-block;

  &--socVK {
    width: 44px;
    height: 44px;
  }

  &--socOK {
    width: 44px;
    height: 44px;
  }

  &--socYandex {
    width: 44px;
    height: 44px;
  }

  &--socMail {
    width: 44px;
    height: 44px;
  }

  &--main__selector {
    width: 14px;
    height: 14px;
  }
}