/* COMPONENTS STYLES */
@import "icon";
@import "buttons";
@import "form";
@import "garage";
@import "back-button";
@import "orders";
@import "add_car";
@import "edit_car";
@import "catalog";
@import "profile";
@import "home";
@import "search";
@import "select-box";
@import "footer";
@import "select";
@import "not-found";
@import "contacts";
@import "payment_delivery";
@import "policy";
@import "errors";
@import "modal";
@import "rating";
@import "cart";
@import "create_order";
@import "product";
@import "checkbox";
@import "organization";
@import "subscription";
@import "employees";
@import "offices";
@import "catalog_item";
@import "catalog_select";
@import "status";