

.policy-page{
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: black;
    }
    h1{
        font-size: 22px; 
        font-family: Montserrat; 
        font-weight: 600;
    }
    h2{
        margin-top: 26px;
        font-size: 20px; 
        font-family: Montserrat; 
        font-weight: 600;
    }
    p{
        font-size: 16px; 
        font-weight: 400;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
            padding: 0;
            list-style: disc;
            padding-left: 20px;
        }
    }
}