.profile {
  &__name {
    display: flex;
    flex-direction: column;

    p {
      color: #000000;
      font-family: Montserrat, sans-serif;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    a {
      color: var(--Accent-1, #139BE8);
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.12px;
    }
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  &__caption {
    color: var(--Neutral-Gray, #949DA5);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    // display: flex;
    height: 52px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #FFF;
    a{
      color: #139BE8;
    }
  }

  &__rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 24px;
    align-self: stretch;
    justify-content: space-between;
    width: 100%;
  }
}

.title {
  color: var(--Accent-Dark, #201B45);
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 32px;
}

.layout {
  display: grid;
  grid-template-columns: 272px minmax(400px, 700px);
  gap: 75px;
  padding-bottom: 20px;

  &_cart{
    display: grid;
    grid-template-columns: 1fr 412px;
    gap: 24px;
    padding-bottom: 20px;

    // &__block{
    //   display: flex;
    //   flex-direction: column;
    //   width: 100%;
    //   border-radius: 12px;
    //   background: #FFF;
    //   box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);
    //   gap: 24px;
    //   &_left{
    //     padding: 24px;
    //   }
    //   &_right{
    //     padding: 16px;
    //   }
    // }

    &__left, &__right{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
    }
  }

  &__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  &__right {
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);
  }
}

.nav-bar {
  display: flex;
  width: 272px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.07);

  &__item {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    color: var(--Neutral-Gray, #949DA5);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;

    &--active {
      color: #139BE8;
    }
  }
}


.profile-addresses {
  width: 100%;

  &:not(:first-child) {
    margin-top: 60px;
  }

  &__add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 10px 0px;
    gap: 8px;
    align-self: stretch;
    overflow: hidden;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.51px;

    .icon {
      width: 24px;
      height: 24px;
      max-width: 24px;
      max-height: 24px;
      min-width: 24px;
      min-height: 24px;
    }
  }

  &__title {
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__items {
    width: 100%;
    display: flex;
    padding-right: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}

.profile-addresses-item {
  $root: &;
  width: 100%;

  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #DFDFDF;
  }

  .icon {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;

    &--RadioButtonCheckedRounded {
      display: none;
    }
  }

  input {
    display: none;

    &:checked {
      & + #{$root}__content {
        .icon--RadioButtonCheckedRounded {
          display: block;
        }

        .icon--RadioButtonUncheckedRounded {
          display: none;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  &__title {
    width: 100%;
    overflow: hidden;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
  }

  &__link {
    color: var(--Accent-1, #139BE8);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.12px;
    margin-left: 32px;
  }
}

.profile-my_recipients {
  margin-top: 50px;
  width: 100%;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex: 1 0 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-bottom: 1px solid #DFDFDF;
    padding: 16px 0;
  }

  &__add {
    margin-top: 16px;
  }

  &__name {
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  &__tel {
    color: #949DA5;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
  }

  &__mail {
    color: #949DA5;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
  }
}

.profile-subscriptions {
  margin-top: 50px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Accent-Dark, #201B45);

  &__title {
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Work Sans, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.17px;
    max-width: 400px;
  }

  &__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    &__wrapper{
      width: 100%;
      display: grid;
      grid-template-columns: 350px 1fr;
      align-items: center;
      gap: 24px;
    }
    &__rules{
      color: #949DA5;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        color: #FFF;
      }
    }
  }

  &__field {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Accent-Dark, #949DA5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.16px;
    background: none;
    color: #ffffff;

    &::placeholder {
      color: #949DA5;
    }
  }

  &__button {
    display: flex;
    max-width: 295px;
    width: 100%;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    color: var(--Accent-Dark, #201B45);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  &__caption {
    color: var(--Neutral-White, #FFF);
    text-align: center;
    font-family: Work Sans, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.17px;
    display: flex;
  }

  &__socails {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    a {
      display: flex;
      height: 42px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      border-radius: 8px;
      background: var(--Neutral-White, #FFF);
      color: var(--Accent-Dark, #201B45);
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}

.profile-delete {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;

  button {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    color: var(--Secondary-Red, #FF735D);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
  }
}