

.rating{
    display: flex;
    align-items: center;
    &__star{
        &_active{
            filter: grayscale(0%);
        }
        width: 24px;
        height: 24px;
        padding: 4px;
        filter: grayscale(100%);
        svg{
            width: 20px;
            height: 20px;
        }
    }
    
}