.select {
    position: relative;
    width: 100%;
    input{
        height: 39px;
    }
    svg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 6px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
    }

    &__input{
        cursor: pointer;
        &_active{
            border: 1px #139BE8 solid !important;
        }
    }

    &__options {
        position: absolute;
        top: calc(100% + 4px);
        width: 100%;
        max-height: 230px;
        display: none;
        background: white;
        border-radius: 12px;
        box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.07);
        padding: 4px 4px 4px 0;
        z-index: 1;
        &__wrapper{
            padding: 0;
            margin: 0;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            // gap: 16px;
            width: 100%;

            &::-webkit-scrollbar {
                width: 4px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 4px;
                background: var(--Neutral-White, #FFF);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: var(--Accent-1, #139BE8);
            }
        }
        &__item{
            color: black;
            font-size: 16px; 
            font-weight: 400;
            cursor: pointer;
            transition: 0.5s background;
            padding: 8px 0 8px 16px;
            &:hover{
                background: rgba(0, 185, 227, 0.05);
            }
        }
    }
}