img, video {
    max-width: 100%;
}

.text-black {
    color: #000;
}

body {
    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background: var(--Neutral-White, #FFF);
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: var(--Accent-1, #139BE8);
    }
}

.only-desktop {
    display: none;
    
    @include media-up(lg) {
        display: initial;
    }
}

.only-tablet {
    display: none;
    
    @include media-down(md) {
        display: initial;
    }
}

.only-mobile {
    display: none;
    
    @include media-down(sm) {
        display: initial;
    }
}

.non-desktop {
    @include media-up(lg) {
        display: none;
    }
}


.non-tablet {
    @include media-only(md) {
        display: none;
    }
}

.non-mobile {
    @include media-down(sm) {
        display: none;
    }
}