@import "../spec/mixins";

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @include media-up(md) {
        padding: 0 20px;
        max-width: 1480px - (20px * 2);
    }
}

.main{
    margin-top: 124px;
    
    @include media-down(md) {
        margin-top: 114px;
    }
}
