.header {
  $root: &;
  margin-bottom: 34px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #ffffff;

  &_fixed{
    #{$root}{
      &__wrapper{
        height: 68px;
      }
    }
  }

  &__wrapper {
    display: flex;
    height: 90px;
    padding: 0 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    transition: 0.5s height;
  }

  &__logo {
    img {
      width: 114px;
    }
  }

  &__block {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
  }

  &__search {
    width: 100%;
    display: flex;
    height: 45px;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #F3F8FB;

    .icon {
      width: 16px;
      height: 16px;
    }

    input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.14px;

      &::placeholder {
        color: var(--neutral-gray, #949DA5);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  &__button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--accent-1, #139BE8);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &__account {
    display: flex;
    padding: 6px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 2px solid var(--accent-1, #139BE8);

    img {
      border-radius: 50%;
      border: 0.45px solid #E1E1E1;
      background: #FFFFF0;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}